<div id="<%= dom_id friend %>">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= link_to "Show", friend %></td>
      </tr>
    </tbody>
  </table>
</div>
